li {
    list-style: none;
    text-align: left;
  }
  
  #group1 {
    margin-left: 10%;
    text-align: center;
    width: 80%;
    border: 0.5rem outset rgb(250, 0, 42);
    background-color: rgb(233, 0, 89);
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 40px 10px;
  }
  
  body {
    background-color: #b10052;
    padding: 50px;
  }
  
  table, tr, td {
    color: white;
    border: 0.5rem outset rgb(255, 0, 43);
    box-shadow: 0 0 0 2rem rgb(233, 0, 89);
    margin: 40px 13.5%;
    font-family: Arial;
    font-size: 20px;
    padding: 3rem;
    outline-offset: 0.5rem;
    background-color: rgb(211, 4, 83);
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  
  button[type=submit], button[type=reset], .button1 {
    background-color: rgb(255, 0, 98);
    border: 0.5rem outset rgb(255, 0, 43);
    padding: 10px 100px;
    margin-left: 10%;
    color: white;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
  }
  
  
  h1 {
    text-align: center;
    font-family: Arial;
    color: white;
  }
  
  .papar {
    margin-left: 10%;
    width: 74%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 20px;
    font-family: Arial;
    background-color: rgb(233, 0, 89);
  }