li {
    list-style: none;
    text-align: left;
}

#group1 {
    width: 50%;
    border: 0.5rem outset pink;
    background-color: #ffe4ef;
    font-family: Arial;
}


body {
    background-color: rgb(255, 239, 248);
}

table, tr, td {
    border: 0.5rem outset pink;
    box-shadow: 0 0 0 2rem rgb(255, 211, 228);
    margin: 3rem;
    font-family: Arial;
    padding: 2rem;
    outline-offset: 0.5rem;
    background-color: rgb(253, 237, 251);
}

button[type=submit], button[type=reset] {
    background-color: rgb(255, 211, 228);
    border: none;
    padding: 10px 52px;
    box-shadow: 0 0 0 0.2rem rgb(0, 0, 0);
    text-decoration: none;
    margin: 4px 20px;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}