li {
    list-style: none;
    text-align: left;
}

#group1 {
    margin-left: 10%;
    text-align: center;
    width: 80%;
    background-color: rgb(231, 160, 7);
    border: 0.5rem outset rgb(177, 162, 162);
    font-family: Arial;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 40px 10px;
}

body {
    background-color: #e4e4e4;
    padding: 50px;
}

table, tr, td {
    color: white;
    border: 0.5rem outset rgb(177, 162, 162);
    box-shadow: 0 0 0 2rem rgb(233, 159, 0);
    margin: 40px 13.5%;
    font-family: Arial;
    font-size: 20px;
    padding: 3rem;
    outline-offset: 0.5rem;
    background-color: rgb(167, 114, 0);
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

button[type=submit], button[type=reset] {
    background-color: rgb(231, 160, 7);
    border: 0.5rem outset rgb(177, 162, 162);
    padding: 10px 100px;
    margin-left: 10%;
    color: black;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}

.button1 {
    text-decoration: none;
    background-color: rgb(231, 160, 7);
    border: 0.5rem outset rgb(177, 162, 162);
    padding: 10px 100px;
    margin-left: 40%;
    color: white;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
}


h1 {
    text-align: center;
    font-family: Arial;
    color: black;
}

.papar {
    margin-left: 10%;
    width: 74%;
    text-align: center;
    color: white;
    padding: 50px;
    font-size: 20px;
    font-family: Arial;
    background-color: rgb(167, 114, 0);
}